@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

.all {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
